Debug
Release
build
example1
*.a

/SQLiteCpp.sln
*.ncb
*.suo
*.user
*sdf
*.vc*
*~
doc
core
*ipch
.settings/

CMakeCache.txt
CMakeFiles
*.cmake
*.dir
Testing
Win32

SQLiteCpp_example1
SQLiteCpp_tests

!FindSQLiteCpp.cmake
